<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsInterface.Properties.Settings.isad157_asmithConnectionString"
            connectionString="server=proj-mysql.uopnet.plymouth.ac.uk;user id=ISAD157_ASmith;password=ISAD157_22201469;persistsecurityinfo=True;database=isad157_asmith"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>